/* google font outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* google ar one sanes */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


.ar-one-sans {
  font-family: "AR One Sans",;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ARRR" 10;
}



body{
    background-color: #00002E;
    color: white;
    margin-top: 48px;
    font-family: 'ar-one-sans';
}

.font-outfit {
    font-family: "Outfit", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

